%table.table.table-hover.recipes_table
  %tr.recipes_header
    %th Name
    %th Image
    %th Cooking Time
    %th Ratings
    %th Missing Ingredients
  -@my_cookable.each do |c|
    -c.each do |r, missing_i|
      %tr.recipe_row
        %td.recipe_name= link_to r.name, recipe_path(r.id)
        %td= image_tag(r.image.url(:thumb))
        %td#time= r.fix_time
        - if r.average_rating != 0
          %td.rating#starry= r.fix_stars
        -else
          %td.rating Not yet rated!
        -if missing_i.length == 0
          %td.cook= link_to "Cook Recipe", {:controller => "recipes", :id => "#{r.id}", :action => "cook_recipe"}, method: :put
        -else
          %td.cook= r.fix_miss(missing_i)
= link_to "Create a new recipe", new_recipe_path(:additional => 1)