#main

  %h2 Create a New Recipe
  = form_for @recipe do |f|
 
    =f.label :name
    =f.text_field :name
    %br
    =f.label :directions
    =f.text_field :directions
    %br
    =f.label :cooking_time
    =f.number_field :cooking_time
    %br
    -count = 1
    %table
      %tr
        %th Ingredient
        %th Quantity
        %th Delete Ingredient
      -(1..count).each do |x|
        %tr
          %td
            <select name = "dropdown[ingredient_#{x}]">
            -Food.all.each do |foo|
              %option= foo.name
            </select>
            %br
          %td <input type = "number" name = "ingreds[ingredient_#{x}]">
          %td= link_to "D", recipes_path()
    =link_to "Add ingredient", {:controller => "recipes", :action => "add_ing", :id => "#{@recipe.id}"}
    %br
    =f.label :image
    =f.file_field :image
    %br
    =f.submit 'Create Recipe'
    %br
    %br
    =link_to "Back to Recipe Index", recipes_path()
