#main

  %h2 Create a New Recipe
  = form_for @recipe do |f|
 
    =f.label :name
    =f.text_field :name
    %br
    =f.label :directions
    =f.text_field :directions
    %br
    =f.label :cooking_time
    =f.number_field :cooking_time
    %br
    %table
      %tr
        %th Ingredient
        %th Quantity
        %th Delete Ingredient
        -if params.has_key?(:additional)
          -(1..params[:additional].to_i).each do |x|
            %tr
              %td
                <select#select_name name = "dropdown[newingredient_#{x}]">
                -Food.all.each do |foo|
                  %option= foo.name
                </select>
              %td <input type = "number" name = "ingreds[newingredient_#{x}]">
              -if params[:additional] == "1"
                %td= link_to "Bye bye", new_recipe_path(@recipe)
              -else
                %td= link_to "Bye bye", new_recipe_path(@recipe, :additional => (params[:additional].to_i - 1).to_s)
    -if params.has_key?(:additional)
      =link_to "Add ingredient", new_recipe_path(:additional => (params[:additional].to_i + 1).to_s)
    -else
      =link_to "Add ingredient", new_recipe_path(:additional => "1")
    %br
    %br
    =f.label :image
    =f.file_field :image
    %br
    =f.submit 'Create Recipe'
    %br
    %br
    =link_to "Back to Recipe Index", recipes_path()
