#main
  %h4= flash[:notice] if flash[:notice] 
  %h3= "Recipe Details For #{@recipe.name}"
  %table.recipes_table
    %tr.recipes_header
      %th Image
      %th Cooking Time
    %tr
      %td= image_tag(@recipe.image.url(:medium))
      %td#Cooking_Time= @recipe.cooking_time
  %table.recipes_info
    %tr
      %th Ingredients
    %tr.recipe_row
      %td
        %table
          %tr
            %th Name
            %th Quantity
          -@recipe.ingredients.each do |i|
            %tr.ingredient_row
              %td= i.name
              %td= i.quantity
  %table.recipes_directions
    %tr
      %th Directions
    %tr
      %td=  @recipe.directions
  = link_to "Edit recipe details", edit_recipe_path
  = link_to "Back to recipes!", recipes_path
