=render 'login'
#main
  = link_to "Back to recipes!", recipes_path
  %h4= flash[:notice] if flash[:notice] 
  %h3= "Recipe Details For #{@recipe.name}"
  %table.recipes_table
    %tr.recipes_header
      %th Image
      %th Cooking Time
    %tr
      %td= image_tag(@recipe.image.url(:medium))
      %td#Cooking_Time= @recipe.fix_time
  %table.recipes_info
    %tr
      %th Ingredients
    %tr.recipe_row
      %td
        %table
          %tr
            %th Name
            %th Quantity
          -@recipe.ingredients.each do |i|
            %tr.ingredient_row
              %td.name= i.food.name
              %td.quantity= i.quantity
  %table.recipes_directions
    %tr
      %th Directions
    %tr
      %td#directions=  @recipe.directions
  %table.recipes_reviews
    %tr  
      %th Reviews
    -if @recipe.reviews == []
      %tr
        %td Write the first review!
    -else
      %tr
        %td
          %table
            %tr.review_header
              %th Stars
              %th Comments
            %tr
              -@recipe.reviews.each do |rev|
                %tr.review_row
                  %td.stars=rev.stars
                  %td.comment=rev.comments




  = link_to "Edit recipe details", edit_recipe_path
  = link_to "Write a Review", new_recipe_review_path(@recipe)
